{
  "apiKey": "{{ opsgenie_api_key }}",
  "baseUrl": "https://api.opsgenie.com",
  "logLevel": "DEBUG",
  "globalArgs": [],
  "globalFlags": {
    "command_url": "http://localhost/zabbix/api_jsonrpc.php",
    "user": "{{ zabbix_user }}",
    "password": "{{ zabbix_password }}"
  },
  "actionMappings": {
    "Acknowledge": {
      "filepath": "/home/opsgenie/oec/scripts/actionExecutorForZabbix4.py",
      "sourceType": "local",
      "env": [],
      "stdout": "/home/opsgenie/oec/output/output.txt"
    }
  },
  "pollerConf": {
    "pollingWaitIntervalInMillis": 100,
    "visibilityTimeoutInSec": 30,
    "maxNumberOfMessages": 10
  },
  "poolConf": {
    "maxNumberOfWorker": 12,
    "minNumberOfWorker": 4,
    "monitoringPeriodInMillis": 15000,
    "keepAliveTimeInMillis": 6000,
    "queueSize": 0
  }
}